/* TOAST STYLE */
[data-sonner-toast],
.go3958317564 {
  font-family: var(--font-google-sans) !important;
}

.go1579819456 {
  margin-right: 0 !important;
}

.go2344853693 {
  gap: 1.5rem !important;
}